.a1{
    border: 5px ;
    border-radius: 30px;
}
.disp {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(17,200px);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}   
.item_2 {
    text-align: center;
    font-size: 165px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(182, 33, 33);
    transition: 1s;
}
div:hover.item_2{
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}
img{
    height: 190px;
    width: 470px;
}
.item_4{
    text-align:inherit;
    font-size: 37px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(177, 22, 68);
    font-style:italic ;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-right: 15px;
}
.item_5{
    grid-row-start: 2;
    grid-row-end: 5;
   
}
.img1{
    height: 660px;
    width: 480px;
   } 
.item_6{
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    grid-row-start: 2;
    grid-row-end: 5;
 color: rgb(177, 22, 68);

}
.item_7{
    text-align:justify;
    font-size: 27px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-style:italic;
    margin-right: 15px;
}
.item_8{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(182, 33, 33);

    transition: 1s;
}
.item_9{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align:  justify;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(177, 22, 68);
    margin-left: 15px;
    margin-right: 15px;

}
div:hover.item_8{
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}
.item_10{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(182, 33, 33);
    transition: 1s;
}
div:hover.item_10{
    color: rgb(255, 255, 255);
    background: rgb(255, 0, 0);
}
